### Sales per event

In [0]:
SET search_path to tickit;
SELECT eventname, total_price
FROM  (SELECT eventid, total_price, ntile(1000) over(order by total_price desc) as percentile
       FROM (SELECT eventid, sum(pricepaid) total_price
             FROM   tickit.sales
             GROUP BY eventid)) Q, tickit.event E
       WHERE Q.eventid = E.eventid
       AND percentile = 1
ORDER BY total_price desc;

### Total quantity per buyer

In [0]:
SELECT firstname, lastname, total_quantity 
FROM   (SELECT buyerid, sum(qtysold) total_quantity
        FROM  tickit.sales
        GROUP BY buyerid
        ORDER BY total_quantity desc limit 10) Q, tickit.users
WHERE Q.buyerid = userid
ORDER BY Q.total_quantity desc;

### Sales table definition

In [0]:
SELECT DISTINCT p.*, c.ordinal_position, c.column_default, c.character_set_name FROM INFORMATION_SCHEMA.COLUMNS c
INNER JOIN pg_table_def p ON p.column = c.column_name
WHERE c.table_schema = p.schemaname AND c.table_name = p.tablename and p.tablename = 'sales'
AND p.schemaname = 'tickit' order by ordinal_position

### Sales for date

In [0]:
SELECT sum(qtysold) 
FROM   tickit.sales, tickit.date
WHERE  sales.dateid = date.dateid 
AND    caldate = '2008-01-05';